/*general*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  overflow: hidden;

}

body {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  cursor: none;
  margin: 0;
  opacity: 1;
  cursor: pointer;
}

ul {
  list-style-type: none;
}


/*flex layout*/


.container {
  display: flex;
  flex-direction: row;
 
}
scene{
 
  align-items: center;
}

.col {

  float:left;
  width: 25vw;
  margin-left: 3vw;
  margin-right: 3vw;
  display:flex;
  flex-direction:column;

  align-items: left;
  justify-content:center;
 
}


.icon{
  width:15vw;
  height:15vw;
  
}
.icon_detail{
  width:30vw;
  height:30vw;
  
}
.nav{
  display: flex;
  
  gap:80px;
  justify-content: end;
  margin-bottom: 20px;
  margin-right: 100px;
}
hr{
  width: 100%;
  height:2px; 
  background-color: black; 
  color:black;
}
.notecard {
  flex-direction: row;

  /* Since this notecard is a flexbox, the children of the notecard will sit
    on the same line (instead of stacking on top of each other). This allows
    us to divide the notecard into a left side (main content + footer) and a
    right side (expand/collapse + toolbar).
  */
  display: flex;
  
  /* Set default width for the notecard (this will be the width when notecards
    are all in a single column). For larger screens, we adjust this width, see
    the @media query below. */
  /* width: 450px; */
  width: 100%; 
  
  
  /* Add a margin to the top of the notecard, so that when they are all stacked
    together, there is a space in between each card. */
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;;
  
  /* Add some padding, so that there is a buffer zone between the edge of the
    notecard and the content inside. */
  padding: 40px;
  
  /* Add rounded corners for the notecard. */
  border-radius: 8px;
  
  /* Notecard background is slightly lighter than the webpage background. */
  background-color: white;

  flex-wrap: wrap;
}

  @media (min-width: 930px) {
  .notecard{
    align-content: flex-start;
    width: 100%;
    min-height: 190px;
    flex-direction: column;
  }
}
  

/*flex layout react to screen size*/
@media screen and (max-width: 930px) {
  .col {
    margin-left: 10rem;
    width: 80%;
  }
  .scene{
    overflow-x: scroll;
    overflow-y: scroll;
    
  }

 

}

/*phases of research*/

.pagination {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 0.3s, transform 0.3s;
  will-change: opacity, transform;
  z-index: 100;
}
.pagination .page-names {
  text-align: center;
  font-size: 32px;
}
.pagination .page-names li {
  display: none;
  will-change: opacity;
  font-family: ptsans-bold;
}
.pagination .page-names li.active {
  display: block;
}
.pagination .page-dots {
  text-align: center;
  font-size:2rem;
  margin-bottom: 10rem;
}
.pagination .page-dots li {
  margin-left: 5vw;
  margin-right: 5vw;
  float: left;
  cursor: pointer;
  color: #C8CEEF;
}
.pagination .page-dots li.active {
  color: #485CC9;
}

.row .col .content .painpoints li {
  display: none;
  will-change: opacity;
  font-family: ptsans-bold;
}
.row .col .content .painpoints li.active{
  display: block;
}

@media screen and (max-width: 930px) {
  .pagination {
 
  
    top: 10rem;
    left: -10rem;

    transform: rotate(90deg);
    font-family: pfs-regular;
    font-size: 1.3vmax;
    transition: opacity 0.3s, transform 0.3s;
    will-change: opacity, transform;
    z-index: 100;
    
    font-size: 32px;
  }

}
