html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  font-family: "Courier New", "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(0, 0, 0);
  /* background: rgb(110, 110, 110); */
  /* background: rgb(10, 10, 10); */
  background-size: cover;
  /*   overflow: scroll;
  overflow-x: hidden; */
  /* scroll-snap-type: y mandatory; */
}
.inner-container {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  width: 100vw;
  height: 100vh;
  cursor: none;
  margin: 0;
  opacity: 1;
}
.outer {
  display: table;
  width: 100%;
  height: 100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}


.nav-height {
    opacity: 100%;
    background-color: transparent;
    width: 100vw;
    height: 16vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 201;
  }
  
  .nav-container {
    opacity: 100%;
    background-color: transparent;
    width: 100vw;
    height: 16vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    z-index: 100;
  }
  
  .flexnav {
    display: flex;
    justify-content: flex-end;
  }